h1,h2,h3,h4,ul,p{
    color: black;
}p{text-align: center;}
body {
    background-color: rgb(255, 255, 255);
}

#my-picture {
    border-radius: 100%;
    

}

.links {
    color: red;
    font-family:'Ubuntu' ,monospace,sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

#list {
    background-color: darkgray;
}

.sub-title {
    font-family:'Raleway' ,sans-serif;
    font-size: 40px;
}

#indice {
    background-color: red;
    font-size: 30px;
    font-family:'Raleway', sans-serif;
    font-style: italic
}

#main-title {
    font-size: 70px;
    line-height: 50px;
    font-family:'Raleway',sans-serif;    
    background-color: red;
    padding: 50px;
    margin: 0px;
}

.indice {
    font-style: inherit;
}

#indice-list {
    font-weight: bold;
    font-style: italic;
}

#list-habilities {
    font-family: 'Ubuntu',monospace,sans-serif;
    font-size: 14px;
    line-height: 45px;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}