body {
    background-color: whitesmoke;
}

#my-picture {
    border-radius: 100%;

}

.links {
    color: red;
    font-family: monospace;
    text-decoration: none;
}

#list {
    background-color: darkgray;
}

.sub-title {
    font-family: sans-serif;
    font-size: 40px;
}

#indice {
    background-color: darkgray;
    font-size: 30px;
    font-family: sans-serif;
    font-style: italic;
}

#main-title {
    font-size: 70px;
    line-height: 50px;
    font-family: sans-serif;
}

.indice {
    font-style: inherit;
}

#indice-list {
    font-weight: bold;
    font-style: italic;
}

#list-habilities {
    font-family: monospace;
    font-size: 14px;
    line-height: 45px;
}

p {
    font-family: monospace, sans-serif;
    font-size: 16px;
}